<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Leader</title>
    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../Login/views/homepage.css">
    <link rel="stylesheet" media="mediatype and|not|only (expressions)" href="../../Login/views/homepage.css">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" type="image/png" sizes="32x32" href="https://box.leader.codes/img/Group%2019050.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://box.leader.codes/img/Group%2019050.png">
    <meta name="google-site-verification" content="MBUdM3dJ8b3Dk1H-aXMhuI7Z-MxXRzCRUOZXnMG1SR8" />
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,600&display=swap" rel="stylesheet">
</head>
<body>
      
    
          <div class="row pas"></div>
          <div class="row header">
              <div class="col-1  my-4 sizeNav d-md-block d-lg-block non textAlignCenter"><img src="../../Login/views/img/logo.svg" ></div>
              <div class="col-1  my-4 sizeNav l d-md-none d-lg-none textAlignCenter"><img src="../../Login/views/img/logo.svg" ></div>
               <div class="col-5 my-2 d-md-block d-lg-block non"></div>
                <a href="#home" class="col-1  my-4 sizeNav d-md-block d-lg-block non textAlignCenter" style="color: white; text-decoration: none;">Home</a>
                <a href="#Blog" div class="col-1  my-4 sizeNav d-md-block d-lg-block non textAlignCenter" style="color: white; text-decoration: none;">Tools</a>

                 <a href="#price" class="col-1  my-4 sizeNav d-md-block d-lg-block non textAlignCenter" style="color: white; text-decoration: none;">Prices & Plans</a>
                <!-- <amborger></amborger> -->
          <a  href="https://bldr.codes/login" class="col-1 my-4 sizeNav d-md-block d-lg-block non textAlignCenter sign_in" style="text-decoration: none;" >Sign in</a>
            <a href="https://bldr.codes/signUp" ><button class="col my-4 sizeNav d-md-block d-lg-block non textAlignCenter sigin_up" style="text-decoration: none;">Sign up</button></a>
            <a  href="https://bldr.codes/mobile.logIn" class="col-2 my-4 right1 d-md-none d-lg-none blck" style="color: #00EFFF;background-color: #141414;text-decoration: none;" >Sign in</a>
           <div class="col-1 my-4 right2 d-md-none d-lg-none blck  " style="color:#00EFFF ;text-decoration: none;">\</div>
            <a href="https://bldr.codes/mobile.signUp"><button class="col-2 my-4 right3 d-md-none d-lg-none blck n" style="color: #00EFFF;background-color:#141414;border: black;text-decoration: none;" >Sign up</button></a>

        </div>
        
        <div class="imgl">
         <div class="m">
         <div class="screan">
           <div class="row" id="home">
             <div class="col-3 d-md-none d-lg-none blck"></div>
             <div class="col-7 center  display-2 one flow_the_leader d-md-none d-lg-none blck"><div class="mt-5"></div><img class="mt-5"  src="../../Login/views/img/follow the.png" id="logo"/><img src="img/leader1.png" id="logo"/></div>
            <div class="col-2 d-md-block d-lg-block non "></div>
             <div class="col-8 center display-2 one mt-5 flow_the_leader d-md-block d-lg-block non "><img src="../../Login/views/img/Group 18485.png" id="logo"/></div>
          </div>
          <div class="leaderbox  center d-md-block d-lg-block non">Leader Box: FREE Integrated Marketing System for Business Leaders</div>
          <div class="row mt-3 d-md-none d-lg-none blck"></div>
          <div class="leaderbox1 center  display-2 one d-md-none d-lg-none blck"><b>Leader Box: FREE Integrated Marketing<br> System for Business Leaders</b></div>
        </div>
           <img src="../../Login/views/img/lamp1.png " class="lamp1 d-md-block d-lg-block non" >
            <img src="../../Login/views/img/chas_and_pas.png" class="pas1 d-md-block d-lg-block non ">
  
          
     
      
        <div class="center mb-5 mt-5">
            <div class="d-md-block d-lg-block non mt-4">
                <a onmouseover="mouseOver707()" onmouseout="mouseOut707()" href="#box">
                    <button type="button" class="btn box  btnHeader  Hbox" id="bHeader1">
                        <i class="fas fa-network-wired mr-1 sizeIcon"id="bn"></i><span class="btnTextSize">Box</span>
                    </button>
                </a>
                <a onmouseover="mouseOver708()" onmouseout="mouseOut708()" href="#funnel">
                    <button type="button" class="btn funnel fontWhite btnHeader  Hfunnel "
                        id="bHeader2">
                        <i class="fas fa-filter mr-1 sizeIcon"></i><span class="btnTextSize">Funnel</span>
                    </button>
                </a>
                <a onmouseover="mouseOver709()" onmouseout="mouseOut709()" href="#hub">
                    <button type="button" class="btn hub fontWhite btnHeader  Hhub " id="bHeader3">
                        <i class="far fa-lightbulb mr-1 sizeIcon"></i><span class="btnTextSize">Hub</span>
                    </button>
                </a>
                <a onmouseover="mouseOver710()" onmouseout="mouseOut710()" href="#time">
                    <button type="button" class="btn time fontWhite btnHeader Htime " id="bHeader4">
                        <i class="fas fa-calendar mr-1 sizeIcon"></i><span class="btnTextSize">Time</span>
                    </button>
                </a>
                <a onmouseover="mouseOver711()" onmouseout="mouseOut711()" href="#stories">
                    <button type="button" class="btn stories fontWhite btnHeader Hstories"
                        id="bHeader5">
                        <i class="fas fa-database mr-1 sizeIcon"></i><span class="btnTextSize">Stories</span>
                    </button>
                </a>

                <a onmouseover="mouseOver712()" onmouseout="mouseOut712()" href="#forms">
                    <button type="button" class="btn forms fontWhite btnHeader Hforms " id="bHeader6">
                        <i class="fas fa-file-alt mr-1 sizeIcon"></i><span class="btnTextSize">Forms</span>
                    </button>
                </a>
                <a onmouseover="mouseOver713()" onmouseout="mouseOut713()" href="#quote">
                    <button type="button" class="btn quote fontWhite btnHeader  Hquote" id="bHeader7">
                        <i class="fas fa-handshake mr-1 sizeIcon"></i><span class="btnTextSize">Quote</span>
                    </button>
                </a>
             <a onmouseover="mouseOver713()" onmouseout="mouseOut713()" href="#livechate">
                    <button type="button" class="btn live fontWhite btnHeader  bHeader8" id="bHeader8">
                        <i class="fas fa-comment-alt mr-1 sizeIcon"></i><span class="btnTextSize">Live Chate</span>
                    </button>
                </a>
            </div>
           <div class="d-lg-block non rectangle  mx-auto">
               <div class="screen mx-auto center" id="bigImg1"><img class="sGroup mx-auto imgScreen" src="../../Login/views/img/boxm.png" width="54vw" height=""></div>
               <div class="screen mx-auto center" id="bigImg2"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/fannelm.png"></div>
               <div class="screen mx-auto center" id="bigImg3"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/hubm.png"></div>
               <div class="screen mx-auto center" id="bigImg4"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/timem.png"></div>
               <div class="screen mx-auto center" id="bigImg5"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/storesm.png"></div>
               <div class="screen mx-auto center" id="bigImg6"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/fromsm.png"></div>
               <div class="screen mx-auto center" id="bigImg7"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/qm.png"></div>
               <div class="screen mx-auto center" id="bigImg8"> <img class="sGroup mx-auto imgScreen" src="../../Login/views/img/livem.png"></div>
            </div>
        
          
            <div class="hh mt-1 d-md-none d-lg-none blck d-flex justify-content-center align-items-center">
           

                <div class="container mx-auto"  id="img1">
                    <img src="../../Login/views/img/boxm.png" class="centered2" alt="Snow" style="width:100%;">
             
                </div>
                <div class="container mx-auto"  id="img2">
                    <img src="img/fannelm.png
                    " class="centered2" alt="Snow" style="width:100%;">
                   
                </div>
                <div class="container mx-auto"  id="img3">
                    <img src="../../Login/views/img/hubm.png" class="centered2" alt="Snow" style="width:100%;">
                 
                </div>
                <div class="container mx-auto" id="img4">
                    <img src="../../Login/views/img/timem.png" class="centered2" alt="Snow" style="width:100%;">
                     
                </div>
                <div class="container mx-auto" id="img5">
                    <img src="../../Login/views/img/storesm.png" class="centered2" alt="Snow" style="width:100%;">

                </div>
                <div class="container mx-auto" id="img6">
                    <img src="../../Login/views/img/fromsm.png" class="centered2" alt="Snow" style="width:100%;">
                      
                </div>
                <div class="container mx-auto" id="img7">
                    <img src="../../Login/views/img/qm.png" class="centered2" alt="Snow" style="width:100%;">
                     
                </div>
                <div class="container mx-auto" id="img8">
                    <img src="../../Login/views/img/livem.png" class="centered2" alt="Snow" style="width:100%;">
                     
                </div>
            </div>
            <picture>
             <div class="imgsea none d-lg-block d-md-block"><img id="img" src="../../Login/views/img/Path1.png"></div> 
            </div>
            </div> 
            </div>

            <div class="row">
                <div class="d-md-none d-lg-none blck marginCenter  mx-auto" style="margin-top: -5vh !important;">
                    <div class="circle box mr-2 " id="circle1"></div>
                    <div class="circle funnel mr-2" id="circle2"></div>
                    <div class="circle hub mr-2" id="circle3"></div>
                    <div class="circle time mr-2" id="circle4"></div>
                    <div class="circle stories mr-2" id="circle5"></div>
                    <div class="circle forms mr-2" id="circle6"></div>
                    <div class="circle quote mr-2" id="circle7"></div>
                    <div class="circle live1 mr-2" id="circle8"></div>
                 
                </div>
                <div class="row col-12 d-md-none d-lg-none blck marginCenter d-flex justify-content-center">
                    <div id="btn1">
                        <button type="button" class="btn box fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/box3.png" class="mr-4 ">Try our tools for free
                            </h4>
                        </button>
                    </div>
                    <div id="btn2" class="non">
                        <button type="button" class="btn funnel fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/funnel3.png" class="mr-4">Try our tools for
                                free
                            </h4>
                        </button>
                    </div>
                    <div id="btn3" class="non">
                        <button type="button" class="btn hub fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/hub.png" class="mr-4">Try our tools for free
                            </h4>
                        </button>
                    </div>
                    <div id="btn4" class="non">
                        <button type="button" class="btn time fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/time3.png" class="mr-4">Try our tools for free
                            </h4>
                        </button>
                    </div>
                    <div id="btn5" class="non">
                        <button type="button" class="btn stories fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/stories3.png" class="mr-4">Try our tools for
                                free
                            </h4>
                        </button>
                    </div>
                    <div id="btn6" class="non">
                        <button type="button" class="btn forms fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/forms3.png" class="mr-4">Try our tools for
                                free
                            </h4>
                        </button>
                    </div>
                    <div id="btn7" class="non">
                        <button type="button" class="btn quote fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/quote3.png" class="mr-4">Try our tools for
                                free
                            </h4>
                        </button>
                    </div>
                    <div id="btn8" class="non">
                        <button type="button" class="btn live1 fontWhite hver2 btnSmall">
                            <h4 class="btnSmall2"><img src="../../Login/views/img/quote3.png" class="mr-4">Try our tools for
                                free
                            </h4>
                        </button>
                    </div>
                    <br><br>
                    <p class="center fully mt-3" style="display: block !important;">Fully featured 30-day free trial</p>
                </div>
            </div>
            <!-- <p><button onclick="myMove()">Click Me</button></p>  -->

        </div>
    </div>

</div>



<div id="Blog"></div>
<div class="gray2 mt-5 "   >
    <div class="row">
        <div class="col-1 mr-5 ml-1" ></div>
        <p class="d-md-block d-lg-block non our poppins" >our products</p>
    </div>
    <div>
        <div class="row">
            <div class="col-1 ml-5 mt-5 d-md-block d-lg-block non"></div>
            <p class="leader col-4 bold d-md-block d-lg-block non poppins">Leader Box: The CRM that SMEs have<br> 
                been waiting for!</p>
            <p class="leader col-9 bold d-md-none d-lg-none blck ml-5 mt-5 poppins">Leader Box: The CRM that SMEs have<br> 
                been waiting for!</p>
        </div>
        <div class="row">
            <div class="col-1 ml-5 d-md-block d-lg-block non"></div>
            <div class="col-6">
                <p class="mb-5 mt-4 d-md-block d-lg-block non ligthGray LibreFranklin sizeYourLeaderTitle">
                    Your Leader Box package includes 8 intuitive<br />
                    customer relationship marketing and management tools<br />
                    to help you streamline business opportunities and grow your business.</p>
            </div>
            <div class="col-10 ml-5 mb-5">
                <p class="mb-5 mt-3 d-md-none d-lg-none blck changeSize LibreFranklin">
                    Your Leader Box package includes 8 intuitive<br />
                    customer relationship marketing and management tools<br />
                    to help you streamline business opportunities and grow your business.</p>
            </div>
        </div>
    </div>



    <div class="d-md-block d-md-lg-block non">
        <div class="row" >
            <div class="col-1"></div>
            <div class="col-1 d-md-d-flex justify-content-center">
                <div class="round box d-flex justify-content-center align-items-center" ><img src="../../Login/views/img/box.png" width="33px"
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Box</p>
                <span class="ligthGray">CRM for managing all client<br> contacts and interactions using<br> Leader tools.</span>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="round funnel d-flex justify-content-center align-items-center"><img src="../../Login/views/img/funnel.png"  width="33px"
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Funnel</p>
                <span class="ligthGray">Lead Capture System with <br>marketing campaigns and<br> landing pages</span>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="round hub d-flex justify-content-center align-items-center"><img src="../../Login/views/img/light.png"  width="27px"
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Hub</p>
                <span class="ligthGray">Manage your projects, teams <br> and tasks, priorities <br>and performance goals</span>
            </div>
        </div>
        <div class="r50"></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 d-md-d-flex justify-content-center">
                <div class="round time d-flex justify-content-center align-items-center"><img src="../../Login/views/img/time.png" width="27px"
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Time</p>
                <span class="ligthGray">Integrated Calendar for<br> managing leads, meetings,<br>events and deadlines</span>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="round stories d-flex justify-content-center align-items-center"><img
                        src="../../Login/views/img/stories.png" class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Stories</p>
                <span class="ligthGray">Blog Writing Platform with <br> integrated keywords and <br> lead conversion system</span>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="round forms d-flex justify-content-center align-items-center"><img src="../../Login/views/img/forms.png"  width="24px"
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Forms</p>
                <span class="ligthGray">Intuitive Form Builder for<br>
                    creating invitations and data collection forms. </span>
            </div>
        </div>
        <div class="r50"></div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1 d-md-d-flex justify-content-center">
                <div class="round quote d-flex justify-content-center align-items-center"><img src="../../Login/views/img/quote.png"  width="27px"
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader Quote</p>
                <span class="ligthGray">Customizable Proposal<br> Templates for customer<br> quotations and contracts</span>
            </div>
            <div class="col-1 d-flex justify-content-center">
                <div class="round chat d-flex justify-content-center align-items-center"><img src="../../Login/views/img/cers.png"  
                        class="icon d-flex justify-content-center align-items-center"></div>
            </div>
            <div class="col-2">
                <p class="bold">Leader live Chat</p>
                <span class="ligthGray">
                    Chat System for live chat <br>
                    conversations, saved directly<br>
                    into your CRM</span>
            </div>
        </div>

    </div>


    <div id="box" class="gray">
        <div class="row head2"></div>
        <div class="row">
            <div class="col-1 d-md-d-md-none d-lg-none blck"></div>
            <div class="col-11 d-md-none d-lg-none blck">
                <span class="bold box2 title poppins">
                    <div
                        class="round2 round3 box mt-3 mr-3 ml-4 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/box3.png" class="icon d-flex justify-content-center align-items-center"></div>
                    Leader Box:
                </span>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-11 my-3">
                        <h2 class="bold title2 mb-3 poppins ml-4">Customer Relationship<br> Management (CRM) Database
                        </h2>
                        <h4 class="title2 poppins ml-4">Automatically Updated With <br>Every Client Contact And <br>Integrated With
                            All Other Leader
                            Tools</h4>
                    </div>
                </div>
            </div>
            <div class="col-6 mr-5 ml-5 d-md-block d-lg-block non ">
                
                <div class="screen3 mt-5"> <img class="imgScreen3" src="../../Login/views/img/boxm.png
                    "></div>
            </div>
            <div class="col-12 d-md-none mx-auto d-lg-none blck mb-5">
                <!-- <div class="screen4 mx-auto"> <img class="imgScreen4" src="leader box – 97.png" ></div>
           -->
           <div class="container mx-auto">
            <img src="../../Login/views/img/boxm.png" class="centered2" alt="Snow" style="width:100%;">
              
            </div>
            </div>
            <div class="col-4 ml-5 d-md-block d-lg-block non mt-3">
                <div class="row mt-2"></div>
                <span class="bold box2 titleLeader poppins">
                    <div class="round2 box mt-3 mr-3 d-flex justify-content-center align-items-center"><img
                            src="../../Login/views/img/box.png" width="33px" class="icon  d-flex justify-content-center align-items-center"></div>
                    Leader Box:
                </span>
                <div class="row mt-2">
                    <div class="col-11 d-md mt-3">
                        <p class="bold titleLeader2 poppins">Customer Relationship<br> Management (CRM) Database</p>
                        <h4 class="poppins mt-4 mb-4">Automatically Updated With <br>Every Client Contact And <br>Integrated With
                            All Other Leader
                            Tools</h4>
                    </div>
                </div>
                <button type="button" class="btn box fontWhite bPage hver2">
                    <p class="fontSizeTry mt-1"><img src="../../Login/views/img/box.png" class="mr-4 imgSize mt-1" id="smallicon"><span
                            class="mt-1">Try our tools for free</span></p>
                </button>
            </div>
        </div>

    </div>

    <div id="funnel" class="gray2">
        <div class="row head2 mt-5"></div>
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-1 d-md-none d-lg-none blck"></div>
            <div class="col-md-4  mt-2 col-xs-11">
                <div class="d-md-none d-lg-none blck ml-5">
                    <h1 class="bold funnel2 titleLeader poppins ml-3">
                        <div class="round2 round4 funnel mt-2 mr-3 d-flex justify-content-center align-items-center">
                            <img src="../../Login/views/img/funnel.png" class="icon d-md-block d-lg-block non" width="23px" ><img src="../../Login/views/img/funnel3.png" 
                                class="icon d-md-none d-lg-none blck"></div>Leader
                    Funnel:
                    </h1>
                </div>
               <div class="d-md-block d-lg-block non mt-3">
                <h1 class="bold funnel2 titleLeader poppins">
                    <div class="round2 round4 funnel mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/funnel.png" class="icon d-md-block d-lg-block non" width="27px"><img src="../../Login/views/img/funnel3.png"
                            class="icon d-md-none d-lg-none blck"></div>Leader
                    Funnel:
                </h1>
               </div>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-13 my-3">
                        <div class="d-md-none d-lg-none blck ml-5 mb-3">
                        <h2 class="bold titleLeader2 poppins ml-3">Lead Capture System With<br> Marketing Campaigns And<br>Landing Pages
                        </h2>
                        </div>
                        <div class="d-md-block d-lg-block non mb-3">
                            <h2 class="bold titleLeader2 poppins">Lead Capture System With<br> Marketing Campaigns And <br>Landing Pages
                            </h2>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn funnel fontWhite bPage hver2 d-md-block d-lg-block non">
                    <h4 class="fontSizeTry2 mt-2"><img src="../../Login/views/img/funnel.png" class="mr-4 imgSize">Try our tools for
                        free</h4>
                </button>
            </div>
            <div class="col-6 ml-3 d-md-block d-lg-block non">
                <div class="screen3"> <img class="imgScreen3" src="../../Login/views/img/fannelm.png"></div>
            </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16708.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/fannelm.png" class="centered2" alt="Snow" style="width:100%;">
                  
                    </div>
            </div>
        </div>
    </div>
    <div id="hub" class="gray">
        <div class="row head2"></div>
        <div class="row">
            <div class="col-1 d-md-none d-lg-none blck"></div>
            <div class="col-11 d-md-none d-lg-none blck">
                <span class="bold hub2 title poppins">
                    <div class="round2 round3 hub mt-3 mr-3 ml-4 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/hub.png" class="icon d-flex justify-content-center align-items-center"></div>
                    Leader Hub:
                </span>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-12 my-3 ml-4">
                        <h2 class="bold title2 mb-3 poppins">For Managing Projects, Teams<br> And Tasks, Priorities And<br>Performance Goals
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-6 mr-5 ml-5 d-md-block d-lg-block non mt-5">
                <div class="screen3 mt-5"> <img class="imgScreen3" src="../../Login/views/img/hubm.png"></div>
             </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16709.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/hubm.png" class="centered2" alt="Snow" style="width:100%;">
                      
                    </div>
            </div>
            <div class="col-4 ml-5 d-md-block d-lg-block non mt-5">
                <div class="row mt-5"></div>
                <h1 class="bold hub2 titleLeader poppins">
                    <div class="round2 hub mt-1 mr-3 d-flex justify-content-center align-items-center"><img
                            src="../../Login/views/img/light.png" class="icon"></div>Leader Hub:
                </h1>
                <div class="row mt-2"></div>
                <div class="row mb-3">
                    <div class="col-12 my-3">
                        <p class="bold titleLeader2 poppins d-flex justify-content-center align-items-center">
                            For Managing Projects, Teams
                            And Tasks, Priorities And
                            Performance Goals
                        </p>
                    </div>
                </div>
                <button type="button" class="btn hub fontWhite bPage hver2">
                    <p class="fontSizeTry mt-1"><img src="../../Login/views/img/light.png" class="mr-4 imgSize">Try our tools for free
                    </p>
                </button>
            </div>
        </div>
        <!-- <div class="row foot2 d-md-block d-lg-block non"></div> -->
    </div>
    <div id="time" class="gray2">
        <div class="row head2 mt-5"></div>
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-10 d-md-none d-lg-none blck"></div>
            <div class="col-md-4 ml-2 mt-2 col-xs-11">
                <div class="d-md-none d-lg-none blck ml-5">
                <h1 class="bold time2 titleLeader poppins ml-3">
                    <div class="round2 round4 time mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/time.png" class="icon d-md-block d-lg-block non" width="23px"><img src="../../Login/views/img/time3.png" 
                            class="icon d-md-none d-lg-none blck"/></div>Leader
                    Time:
                </h1>
               </div>
               <div class="d-md-block d-lg-block non mt-3">
                <h1 class="bold time2 titleLeader poppins">
                    <div class="round2 round4 time mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/time.png" class="icon d-md-block d-lg-block non" width="23px"><img src="../../Login/views/img/time3.png" 
                            class="icon d-md-none d-lg-none blck"></div>Leader
                    Time:
                </h1>
               </div>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-12 my-3">
                        <div class="d-md-none d-lg-none blck ml-5 mb-3">
                        <h2 class="bold titleLeader2 poppins ml-3">Integrated Calendar For<br> Managing Leads, Meetings,<br> Events And Deadlines
                        </h2>
                        </div>
                        <div class="d-md-block d-lg-block non mb-3">
                            <h2 class="bold titleLeader2 poppins">Integrated Calendar For<br> Managing Leads, Meetings,<br> Events And Deadlines
                            </h2>
                            </div>
                    </div>
                </div>
                <button type="button" class="btn time fontWhite bPage hver2 d-md-block d-lg-block non">
                    <h4 class="fontSizeTry2 mt-2"><img src="../../Login/views/img/time.png" class="mr-4 imgSize" width="23px"><span
                            class="mt-2">Try our tools for free</span></h4>
                </button>
            </div>
            <div class="col-6 ml-3 d-md-block d-lg-block non">
                <div class="screen3"> <img class="imgScreen3" src="../../Login/views/img/timem.png"></div>
            </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16710.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/timem.png" class="centered2" alt="Snow" style="width:100%;">
     
                    </div>
            </div>
        </div>
    </div>
    <div id="stories" class="gray">
        <div class="row head2 mt-5"></div>
        <div class="row mt-5">

            <div class="col-1 d-md-none d-lg-none blck"></div>
            <div class="col-11 d-md-none d-lg-none blck ">
                <span class="bold stories2 title poppins">
                    <div
                        class="round2 round3 stories mt-3 mr-3 ml-4 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/stories3.png" class="icon d-flex justify-content-center align-items-center">
                    </div>Leader
                    Stories:
                </span>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-12 my-3 ml-4">
                        <h2 class="bold title2 mb-3 poppins">Blog Writing Platform With<br> Integrated Keywords And <br> Lead Conversion System
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-6 mr-5 ml-5 d-md-block d-lg-block non">
                <div class="screen3"> <img class="imgScreen3" src="../../Login/views/img/storesm.png"></div>
            </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16711.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/storesm.png" class="centered2" alt="Snow" style="width:100%;">
                  
                    </div>
            </div>

            <div class="col-4 ml-5 d-md-block d-lg-block non mt-3">
                <div class="row mt-2"></div>
                <h1 class="bold stories2 titleLeader poppins">
                    <div class="round2 stories mt-1 mr-3 d-flex justify-content-center align-items-center"><img
                            src="../../Login/views/img/stories.png" class="icon d-flex justify-content-center align-items-center">
                    </div>Leader
                    Stories:
                </h1>
                <div class="row mt-2"></div>
                <div class="row mb-3">
                    <div class="col-10 my-3">
                        <p class="bold titleLeader2 poppins">Blog Writing Platform With<br> Integrated Keywords And <br> Lead Conversion System
                        </p>
                    </div>
                </div>
                <button type="button" class="btn stories fontWhite bPage hver2">
                    <p class="fontSizeTry mt-1"><img src="../../Login/views/img/stories.png" class="mr-4 imgSize">Try our tools for
                        free</p>
                </button>
            </div>
        </div>
    </div>
    <div id="forms" class="gray2">
        <div class="row head2 mt-5"></div>
        <div class="row mt-5">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-4 col-xs-10 mt-2">
                <div class="d-md-none d-lg-none blck ml-5">
                    <h1 class="bold forms2 titleLeader poppins ml-3">
                    <div class="round2 round4 forms mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/forms.png" class="icon d-md-block d-lg-block non">
                        <img src="../../Login/views/img/forms3.png" class="icon d-md-none d-lg-none blck">
                    </div>
                    Leader Forms:
                    </h1>
                </div>
                <div class="d-md-block d-lg-block non mt-3">
                    <h1 class="bold forms2 titleLeader poppins">
                    <div class="round2 round4 forms mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img  src="../../Login/views/img/forms.png" class="icon d-md-block d-lg-block non">
                        <img src="../../Login/views/img/forms3.png" class="icon d-md-none d-lg-none blck">
                    </div>
                    Leader Forms:
                    </h1>
                </div>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-12 my-4">
                        <div class="d-md-none d-lg-none blck ml-5">
                            <h2 class="bold titleLeader2 poppins ml-3">Intuitive Form Builder<br> Including API
                            Integration<br> With Popular
                            Applications
                             </h2>
                        </div>
                        <div class="d-md-block d-lg-block non mb-3"><h2 class="bold titleLeader2 poppins">Intuitive Form Builder<br> Including API
                            Integration<br> With Popular
                            Applications
                             </h2>
                        </div>

                    </div>
                </div>
                <button type="button" class="btn forms fontWhite bPage hver2 d-md-block d-lg-block non">
                    <h4 class="fontSizeTry2 mt-2"><img src="../../Login/views/img/forms.png" class="mr-4 imgSize mb-1">Try our tools
                       for free</h4>
                </button>
            </div>

            <div class="col-6 d-md-block d-lg-block non">
                <div class="screen3"> <img class="imgScreen3" src="../../Login/views/img/fromsm.png"></div>
            </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16712.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/fromsm.png" class="centered2" alt="Snow" style="width:100%;">
                 
                    </div>
            </div>
        </div>

    </div>

    <div id="quote" class="gray mt-5">
        <div class="row head2 mt-5"></div>
        <div class="row mt-5">
            <div class="col-1 d-md-none d-lg-none blck"></div>
            <div class="col-11 d-md-none d-lg-none blck">
                <span class="bold quote2 title poppins mt-5">
                    <div class="round2 round3 quote mt-3 mr-3 ml-4 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/quote3.png" class="icon d-flex justify-content-center align-items-center">
                    </div>Leader
                    Quote
                </span>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-12
                     my-3 ml-2">
                        <h2 class="bold title2 mb-3 poppins ml-3">Customizable Proposal<br> Templates For Customer<br> Quotations And Contracts
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-6 mr-5 ml-5 d-md-block d-lg-block non">
                <div class="screen3"> <img class="imgScreen3" src="../../Login/views/img/qm.png"></div>
            </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16713.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/qm.png" class="centered2" alt="Snow" style="width:100%;">
                     
                    </div>
            </div>
            <div class="col-md-4 d-md-block d-lg-block non mt-3">
                <span class="bold quote2 titleLeader">
                    <div
                        class="round2 quote mt-3 mr-3 poppins d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/quote.png" width="35px"
                        class="icon d-flex justify-content-center align-items-center">
                    </div>Leader
                    Quote
                </span>
                <div class="row mt-2"></div>
                <div class="row mb-3">
                    <div class="col-13 my-3">
                        <p class="bold titleLeader2 poppins">Customizable Proposal<br> Templates For Customer<br>  Quotations And Contracts
                        </p>
                    </div>
                </div>
                <button type="button" class="btn quote fontWhite bPage hver2">
                    <p class="fontSizeTry mt-1"><img src="../../Login/views/img/quote.png" class="mr-4 imgSize" width="35px">Try our tools for free
                    </p>
                </button>
            </div>
        </div>
  
        
    </div>
    <!-- <?> -->  


    <div id="livechate" class="gray2">
        <div class="row head2 mt-5"></div>
        <div class="row mt-5">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-5 col-xs-10 mt-2">
                <div class="d-md-none d-lg-none blck ml-5">
                    <h1 class="bold chat titleLeader poppins ml-3">
                    <div class="round2 round4 chat mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/solid.png" class="icon d-md-block d-lg-block non">
                         <img src="../../Login/views/img/live.png" class="icon d-md-none d-lg-none blck">
                    </div>
                    Leader live chat:
                    </h1>
                </div>
                <div class="d-md-block d-lg-block non mt-3">
                    <h1 class="bold forms3 titleLeader poppins">
                    <div class="round2 round4 chat mt-2 mr-3 d-flex justify-content-center align-items-center">
                        <img src="../../Login/views/img/cers.png" class="icon d-md-block d-lg-block non">
                        <img src="../../Login/views/img/cers.png" class="icon d-md-none d-lg-none blck">
                    </div>
                    Leader live chat:
                    </h1>
                </div>
                <div class="row mt-1"></div>
                <div class="row">
                    <div class="col-13 my-4">
                        <div class="d-md-none d-lg-none blck ml-5">
                            <h2 class="bold titleLeader2 poppins ml-3">
                                Chat Bot System for live chat<br>conversations saved directly into your CRM
                          
                             </h2>
                        </div>
                        <div class="d-md-block d-lg-block non mb-3"><h2 class="bold titleLeader2 poppins">
                            Chat Bot System for live chat<br>conversations saved directly into your CRM
                         </h2>
                        </div>

                    </div>
                </div>
                <button type="button" class="btn chat2 fontWhite bPage hver2 d-md-block d-lg-block non">
                    <h4 class="fontSizeTry2 mt-2"><img src="../../Login/views/img/comment-alt-solid.png" class="mr-4 imgSize mb-1">Try our tools
                        for free</h4>
                </button>
            </div>

            <div class="col-6 d-md-block d-lg-block non">
                <div class="screen3"> <img class="imgScreen3" src="../../Login/views/img/livem.png"></div>
            </div>
            <div class="col-12 d-md-none d-lg-none blck mb-5">
                <!-- <img class="sGroup3" src="Group 16712.png"> -->
                <div class="container mx-auto">
                    <img src="../../Login/views/img/livem.png" class="centered2" alt="Snow" style="width:100%;">
         </div>
            </div>
        </div>
    </div>
    <!-- <רק למובייל> -->
    <div class="row mt-5"></div>
    <div class="row mt-5">
        <div class="col-2 mt-5"></div>
    <div class="join">
        <div class="row">
            <div class="col mt-5">
            <h1 style="color: white;font-size:xx-large;">Join our mailing list</h1>
        </div>
        </div>
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="textmail d-md-none d-lg-none blck "> <input type="text" id="o"  placeholder="Email address"/></div>
        </div>
        <div class="row mt-1">
            <div class="col-1"></div>
            <div class="bljoin d-md-none d-lg-none blck ">Join</div>
        </div>
        <div class="row mt-3">
            <div class="col-1"></div>
            <div class="col" style="color: white;">
                By joining to our newsletter you’re agreeing<br> to our Terms & Conditions
            </div>
        </div>
        </div>
        
      
    </div>
    <div class="row price" id="price">
        <div class="col-3"></div>
        <div class="col-3 price1">
          <br>
            <div class="d-md-block d-lg-block non"  style="font-size: xx-large; font-weight: 700;">Single License</b></div>
         <div  class="d-md-block d-lg-block non">A pay-once license, just for you</div>
         <div class="row mt-2">
             <div class="col-1"></div>
             <hr class="hr1 my-3">
         </div>
         <div class="row">
             <div class="col-4"></div>
             <div class="col-2 d-md-block d-lg-block non" style="font-size:xxx-large; font-weight: 900;">$0</div>
             <div class="my-4 d-md-block d-lg-block non"> &nbsp; / MO</div>
         </div>
         <div class="row mt-2">
             <div class="col-3"></div>
             <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
             <div class="d-md-block d-lg-block non">Unlimited Support</div>
         </div>
         <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non">o</div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non">o</div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        
        <div class="row mt-4">
            <div class="col-1"></div>
            <div class="now d-md-block d-lg-block non">Subscribe Now</div>
        </div>
        <div class="d-md-block d-lg-block non my-3">Fully featured 30-day free trial</div>
        </div>
        <div class="col-3 price2">
            <div class="d-md-block d-lg-block non my-4" style="color: #F99700;">Recommended</div>
            <div class="d-md-block d-lg-block non"  style="font-size: xx-large; font-weight: 700;">Single License</b></div>
         <div  class="d-md-block d-lg-block non">A pay-once license, just for you</div>
         <div class="row mt-2">
             <div class="col-1"></div>
             <hr class="hr1 my-3">
         </div>
         <div class="row ">
             <div class="col-4"></div>
             <div class="col-2 d-md-block d-lg-block non" style="font-size:xxx-large; font-weight: 900;">$9</div>
             <div class="my-4 d-md-block d-lg-block non"> &nbsp; / MO</div>
         </div>
         <div class="row mt-2">
             <div class="col-3"></div>
             <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
             <div class="d-md-block d-lg-block non">Unlimited Support</div>
         </div>
         <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        <div class="row mt-2">
            <div class="col-3"></div>
            <div class="col-1 d-lg-block non"><img src="../../Login/views/img/v.png"></div>
            <div class="d-md-block d-lg-block non">Unlimited Support</div>
        </div>
        
        <div class="row mt-4">
            <div class="col-1 d-lg-block non"></div>
            <div class="now1 d-md-block d-lg-block non">Subscribe Now</div>
        </div>
        <div class="d-md-block d-lg-block non my-3">Fully featured 30-day free trial</div>
        </div>
        </div>
      
    </div>
    
</div>

<script>
    var pos = 1;
    // a=new AnimationSet(false);


    var id = setInterval(frame, 1300);
    function frame() {
        if (pos == 1) {
            
                ;
                document.getElementById("circle" + pos).style.opacity = "100%";
                document.getElementById("circle" + 8).style.opacity = "35%";
                document.getElementById("btn" + pos).style.display = "block";
                document.getElementById("btn" + 8).style.display = "none";
                document.getElementById("img" + pos).style.display = "inline-block";
                document.getElementById("img" + 8).style.display = "none";
                document.getElementById("bigImg" + pos).style.display = "block";
                document.getElementById("bigImg" + 8).style.display = "none";
                document.getElementById("bHeader" + pos).classList.add("btnHeader" + pos);
                document.getElementById("bHeader" + 8).classList.remove("btnHeader" + 8);
                  
                pos++;
            
            }
        else {
            
            document.getElementById("circle" + pos).style.opacity = "100%";
            document.getElementById("circle" + (pos - 1)).style.opacity = "35%";
            document.getElementById("btn" + pos).style.display = "block";
            document.getElementById("btn" + (pos - 1)).style.display = "none";
            document.getElementById("img" + pos).style.display = "inline-block";
            document.getElementById("img" + (pos - 1)).style.display = "none";
            document.getElementById("bigImg" + pos).style.display = "block";
            document.getElementById("bigImg" + (pos - 1)).style.display = "none";
            document.getElementById("bHeader" + pos).classList.add("btnHeader" + pos);
            document.getElementById("bHeader" + (pos - 1)).classList.remove("btnHeader" + (pos - 1));
            pos++;
            if (pos == 9)
                pos = 1;

        }
    }
    function mouseOver707() {
        clearInterval(id);
        document.getElementById("bigImg1").style.display = "block";
    }
    function mouseOut707() {
        id = setInterval(frame, 1000);
        if(pos!=2)
        document.getElementById("bigImg1").style.display = "none";
    }
    function mouseOver708() {
        document.getElementById("bigImg2").style.display = "block";
        document.getElementById("bigImg1").style.display = "none";
        clearInterval(id);
        if((pos-1)!=0)
        {document.getElementById("bHeader" + (pos-1)).classList.remove("btnHeader" + (pos-1));}
        else
        {document.getElementById("bHeader" + (7)).classList.remove("btnHeader" + (7));}
    }
    function mouseOut708() {
        id = setInterval(frame, 1000);
        if(pos!=3)
        document.getElementById("bigImg2").style.display = "none";
 
    }
    function mouseOver709() {

        document.getElementById("bigImg3").style.display = "block";
        document.getElementById("bigImg1").style.display = "none";
        clearInterval(id);
        if((pos-1)!=0)
        {document.getElementById("bHeader" + (pos-1)).classList.remove("btnHeader" + (pos-1));}
        else
        {document.getElementById("bHeader" + (7)).classList.remove("btnHeader" + (7));}
    }
    function mouseOut709() {
        id = setInterval(frame, 1000);
        if(pos!=4)
        document.getElementById("bigImg3").style.display = "none";
        
    }
    function mouseOver710() {
        document.getElementById("bigImg4").style.display = "block";
        document.getElementById("bigImg1").style.display = "none";
        clearInterval(id);
        if((pos-1)!=0)
        {document.getElementById("bHeader" + (pos-1)).classList.remove("btnHeader" + (pos-1));}
        else
        {document.getElementById("bHeader" + (7)).classList.remove("btnHeader" + (7));}
    }
    function mouseOut710() {
        id = setInterval(frame, 1000);
        if(pos!=5)
        document.getElementById("bigImg4").style.display = "none";
    

    }
    function mouseOver711() {
        document.getElementById("bigImg5").style.display = "block";
        document.getElementById("bigImg1").style.display = "none";
        clearInterval(id);
        if((pos-1)!=0)
        {document.getElementById("bHeader" + (pos-1)).classList.remove("btnHeader" + (pos-1));}
        else
        {document.getElementById("bHeader" + (7)).classList.remove("btnHeader" + (7));}
    }
    function mouseOut711() {
        id = setInterval(frame, 1000);
        if(pos!=6)
        document.getElementById("bigImg5").style.display = "none";

    }
    function mouseOver712() {
        document.getElementById("bigImg6").style.display = "block";
        document.getElementById("bigImg1").style.display = "none";
        clearInterval(id);
        if((pos-1)!=0)
        {document.getElementById("bHeader" + (pos-1)).classList.remove("btnHeader" + (pos-1));}
        else
        {document.getElementById("bHeader" + (7)).classList.remove("btnHeader" + (7));}
    }
    function mouseOut712() {
        id = setInterval(frame, 1000);
        if(pos!=7)
        document.getElementById("bigImg6").style.display = "none";

    }
    function mouseOver713() {
        document.getElementById("bigImg7").style.display = "block";
        document.getElementById("bigImg1").style.display = "none";
        clearInterval(id);
        if((pos-1)!=0)
        {document.getElementById("bHeader" + (pos-1)).classList.remove("btnHeader" + (pos-1));}
        else
        {document.getElementById("bHeader" + (7)).classList.remove("btnHeader" + (7));}
    }
    function mouseOut713() {
        id = setInterval(frame, 1000);
        if(pos!=1)
        document.getElementById("bigImg7").style.display = "none";

    }
     function trying(){}




</script>






     
</body>
</html>