<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="https://box.leader.codes/img/Group%2019050.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://box.leader.codes/img/Group%2019050.png">
    <link rel="stylesheet" href="../../Login/views/homepage.css">
    <link rel="stylesheet" media="mediatype and|not|only (expressions)" href="../../Login/views/homepage.css">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <title>sign in</title>
</head>
<body>
    
        <img src="../../Login/views/img/sea.png" id="sea">
        
         <div class="sn_in">
            <div class="row mt-5"></div>
            <div class="r1 mt-5">
               <div class="continer mt-5">
                   <div class="row mt-4">
                       <div class="col-2"></div>
                       <a id="pa"  href="https://bldr.codes/mobile.sign_in" class="col-4 su" ><u style="font-size: x-large;color:#00A1E9"><pre style="font-size: x-large;color:#00A1E9"> sign in </pre></u></a>
                       <a  href="https://bldr.codes/mobile.sign_up" class="col-4 si" ><u style="font-size: x-large;color: #8D8D8D"><pre style="font-size: x-large;color: #8D8D8D"> sign up </pre></u></a>
                      
                   </div>
                   <div class="row mt-5">  
                       <div class="col-1"></div>
                        <div class="col" style="font-size: x-large;"><b>Welcome to Leader!<br> Sign in to see latest updates.</b></div>
                    </div> 
                   <div class="row mt-4"><div class="col-1"></div>
                   <div class="col" style="color: #8181A5;">SIGN IN with your social network</div> </div>
                   <div class="row mt-2">
                       <div class="col-1"></div>
                       <div class="col-10 googlem"><img src="../../Login/views/img/google.png" id="imggooglemobil">&nbsp;  Google </div> </div>
                     <div class="row mt-3">
                         <div class="col-1"></div>
                     <div style="width: 83%; height: 20px; border-bottom: 1px solid black; text-align: center;">
                        <span style="font-size: large; background-color: #F3F5F6; padding: 0 10px;">
                         Or <!--Padding is optional--></div>
                        </span>
                      </div>

                      <div class="row mt-2">
                        <div class="col-1"></div>
                        Enter your username to proceed.</div>
                 
                  
                   <div class="row mt-4">
                       <div class="col-1"></div>
                       <div class="col Email" style="color:#8181A5">Email</div>
    
                   </div>
                   <div class="row mt-2">
                    <div class="col-1"></div>
                    <input type="text" id="our1"/>
                </div>
                   <div class="row mt-4"><div class="col-1"></div>
                   <div class="col Password" style="color:#8181A5">Password</div>
                   </div>
                   <div class="row mt-2">
                    <div class="col-1"></div>
                 <div class="col-10"> <input type="text" id="our1"  /></div>  
                </div>
                <div class="row mt-5">
                    <div class="col-1"></div>
                  <div class="col-6"><img src="../../Login/views/img/cercel.png"/>&nbsp; Remember me</div>  
                  <div class="col">Recover password</div>
                </div>
                <div class="row mt-4">
                    <div class="col-1"></div>
                    <div class="col-4 s">sgin in</div>
                </div>
                 </div>
           </div>
           <div class="textAlignCenter"><img src="../../Login/views/img/logo.svg" ></div>
    </div>
</body>
</html>