<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="img/bldr 2.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/bldr 2.png">
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>
    <link rel="stylesheet" href="homepage.css">
    <script src="controller.js"></script>
    <link rel="stylesheet" media="mediatype and|not|only (expressions)" href="homepage.css">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src="js/controller.js"></script> -->

    <title>sign up</title>
</head>

<body>
    <div class="row">
        <img src="img/sea.png" id="sea">
        <div class="row">
            <div class="col-1 my-3"><a href="https://bldr.codes">
                <img src="img/bldr.jpg" id=imglog>
            </a>
            </div>



            <!-- <div class="col-2"> <i class="far fa-times-circle mar"></i></div> -->

        </div>


        <div class="sn_in ">
            <div class="row mt-5"></div>
            <div class="r mt-5">
                <div class="continer">
                    <div class="col-5"></div>
                    <!-- <div class="col-2 my-3"><a href="homepage.html"><img src="img/x.png" class="imgx"></a></div> -->
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <a href="index.html" class="col-3 si"><u style="font-size: x-large;">
                                <pre style="font-size: x-large;"> sign in </pre></u></a>
                        <a href="signUp.html" class="col-3 su"><u
                                style="font-size: x-large; color:#00A1E9 ;">
                                <pre style="font-size: x-large; color:#00A1E9 ;"> sign up </pre></u></a>


                    </div>

                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col" style="font-size: x-large;"><b>Welcome to BLDR!<br> Sign up to see latest
                                updates.</b></div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col" style="color: #8181A5;">SIGN UP with your social network</div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-6 google" id="google">
                            <img src="img/google.png"
                                id="imggoogle">
                                &nbsp; Google </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div style="width: 50%; height: 20px; border-bottom: 1px solid black; text-align: center;">
                            <span style="font-size: large; background-color: #F3F5F6; padding: 0 10px;">
                                Or
                                <!--Padding is optional-->
                        </div>
                        </span>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3"></div>
                        Enter your details to proceed.
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col" id="user" style="color:#8181A5">user name </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4"> <input type="text" class="username" onfocus="textboldUserName(this)"
                                onblur="noboldUserName(this)" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <div class="col " id="Email" style="color:#8181A5">Email</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col-4"> <input type="text" class="email" onfocus="boldEmail(this)"
                                onblur="noboldEmail(this)" /></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="col" style="color:#8181A5" id="Password">Password</div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-3"></div>
                        <input type="password" name="password" class="our password" onfocus="boldPassword(this)"
                            onblur="noboldPassword(this)" />
                        <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                    </div>
                    <!-- <div class="col-4"><img src="../../Login/views/img/cercel.png"/> </div>   -->
                    <div class="row mt-2">
                        <div class="col-3"></div>
                        <div class="col-0.5 red customcb">
                            <input type="checkbox" value="1" id="customcb1" name="" />
                            <label class="inner" for="customcb1"></label>
                        </div>

                        <div class="col-3" style="cursor: pointer;">&nbsp;&nbsp;Remember me </div>
                        <div class="col" style="cursor: pointer;">Recover password</div>
                    </div>



                    <div class="row mt-3">
                        <div class="col-3"></div>
                        <div class="s" style="cursor: pointer;" id="signupBtn">
                            <div class="row mt-1"></div>sign up
                        </div>
                    </div>
                    <script>


                        const togglePassword = document.querySelector('#togglePassword');
                        const password = document.querySelector('#password');

                        togglePassword.addEventListener('click', function (e) {
                            // toggle the type attribute
                            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                            password.setAttribute('type', type);
                            // toggle the eye slash icon
                            this.classList.toggle('fa-eye-slash');
                        });
                    </script>

</body>

</html>