
.hoverHeader {
  background-color: black;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 2px;
  display: inline-block;
  position: absolute;
  z-index: 9999;
}
.plusPage {
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
}
.borderHeader {
  border: 1px dashed #707070;
}
