<h1 class="topTitle">
    Edit Youtube</h1>
    <app-global-widget></app-global-widget>

<div class="wrapWidgetConfigs">



    <div class="field LR_from_field">
        <div class="field__label ">URL
        </div>
        <div class="field__wrap ">
            <input type="text" class="field__input LR_input_in_configurator" #iframe
                (keyup)="changeStylesG('srcVideo',iframe.value,'attribute')"
                value="{{ser.lastItem.attributes['srcVideo']? ser.lastItem.attributes['srcVideo']:'https://www.youtube.com/embed/VIDEO_ID'}}">

        </div>
        <!-- <div class="field__wrap ">
                        <input type="number" class="field__input LR_input_in_configurator" #iframeStart min="0" 
                            (change)="changeStyles('iframeiframeStart',iframeStart.value)"
                            value="{{ser.lastItem.attributes['iframeStart']?ser.lastItem.attributes['iframeStart']:'0'}}">
                    </div>
                    <div class="field__wrap ">
                        <input type="number" class="field__input LR_input_in_configurator" #iframeEnd min="0" max="10"
                            (change)="changeStyles('iframeEnd',iframeEnd.value)"
                            value="{{ser.lastItem.attributes['iframeEnd']?ser.lastItem.attributes['iframeEnd']:'0'}}">
                    </div> -->

        <!-- <div class="field__wrap ">
                            <select type="text" class="field__input LR_input_in_configurator  " #youTubeQuality1
                                 (keyup)="changeStyles('youTubeQuality',youTubeQuality1.value)"
                                (change)="changeStyles('youTubeQuality',youTubeQuality1.value)"
                                value="{{ser.lastItem.attributes['youtubeSuggestedQuality']?ser.lastItem.attributes['youtubeSuggestedQuality']:'highres'}}">
                                <option value="default">default</option>
                                <option value="small">small</option>
                                <option value="medium">medium</option>
                                <option value="large">large</option>
                                <option value="hd720">hd720</option>
                                <option value="hd1080">hd1080</option>
                                <option value="highres">highres</option>
                            </select>
                        </div> -->
        <div class="field__label ">
            <div class="field LR_from_field">
            <div class="custom-control custom-switch paddingBottom">
                <input type="checkbox" class="custom-control-input marginLeft4"
                    [checked]="ser.lastItem.styles.simpleStyles['transform']=='scaleX(-1)'" #enable
                    (change)="changeStylesG(['youTubeControls'],enable.checked,'attribute')" id="switch1" name="example">
                <label class="custom-control-label paddingTop2" for="switch1">Show controls</label>

            </div>
        </div>
        </div>
        <!-- <div class="field__label ">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input"
                                [checked]="ser.lastItem.styles.simpleStyles['transform']=='scaleX(-1)'" #enable1
                                (change)="changeStyles('youtubeAutoPlay',enable.checked,enable1.checked)" id="switch2" name="example">
                            <label class="custom-control-label" for="switch2">Play automatic</label>
                        </div>
                    </div>‏ -->
    </div>


    <!-- <div class="field LR_from_field">
                    <div class="field__wrap marginBottom">
                        <input type="number" class="field__input LR_input_in_configurator marginLeft marginRight input"
                            #borderradius (keyup)="changeStyles('border-radius',borderradius.value)"
                            (change)="changeStyles('border-radius',borderradius.value)"
                            value="{{ser.lastCol.styles['border-radius']?ser.lastCol.styles['border-radius'].split('%')[0]:'0'}}">
                    </div>
                </div> -->

    <!-- <div class="field LR_from_field" *ngIf="ser.itemsAndAttributes[ser.whatLast]['border-right']">
                <h4 class="field__label ">
                    border
                    Right
                </h4>
    
                <div class="field__wrap ">
                    <div>
                        <select type="text" class="field__input LR_input_in_configurator"
                             #borderRightStyle>
    
                            <option style="display: none;">style</option>
                            <option value="dotted" >dotted</option>
                            <option value="solid" >solid</option>
                            <option value="double" >double</option>
                            <option value="dashed" >dashed</option>
                            <option value="wavy" >wavy</option>
                            <option value="initial" >initial</option>
                            <option value="inherit" >inherit</option>
    
                        <div>
                            <input type="number" class="field__input LR_input_in_configurator"
                                #borderRightSize placeholder="size">
                        </div>
                        <div>
                            <input type="color" #borderRightColor
                                (input)="changeStyles('border-right',borderRightSize.value+'px '+borderRightStyle.value+' '+borderRightColor.value)">
                        </div>
                    </div>
    
                </div>
                <div class="field LR_from_field" *ngIf="ser.itemsAndAttributes[ser.whatLast]['border-top']">
                    <h4 class="field__label ">
                        border
                        Top
                    </h4>
    
                    <div class="field__wrap ">
                        <div>
                            <select type="text" class="field__input LR_input_in_configurator"
                                style="width:100% !important; color: gray;" #borderTopStyle>
    
                                <option style="display: none;color: gray;">style</option>
                                <option value="dotted" style="color: gray;">dotted</option>
                                <option value="solid" style="color: gray;">solid</option>
                                <option value="double" style="color: gray;">double</option>
                                <option value="dashed" style="color: gray;">dashed</option>
                                <option value="wavy" style="color: gray;">wavy</option>
                                <option value="initial" style="color: gray;">initial</option>
                                <option value="inherit" style="color: gray;">inherit</option>
    
                            </select>
                        </div>
    
            </div> -->
    <!-- <div class="field LR_from_field" >
                <h4 class="field__label ">
                    border
                    Top
                </h4>

                <div class="field__wrap ">
                    <div>
                        <select type="text" class="field__input LR_input_in_configurator" #borderTopStyle>

                            <option style="display: none;">style</option>
                            <option value="dotted">dotted</option>
                            <option value="solid">solid</option>
                            <option value="double">double</option>
                            <option value="dashed">dashed</option>
                            <option value="wavy">wavy</option>
                            <option value="initial">initial</option>
                            <option value="inherit">inherit</option>

                        </select>
                    </div>

                </div>

            </div> -->
    <!-- <div class="field LR_from_field" >
                <h4 class="field__label ">
                    border
                    Bottom
                </h4>

                <div class="field__wrap ">
                    <div>
                        <select type="text" class="field__input LR_input_in_configurator" #borderBottomStyle>

                            <option style="display: none;">style</option>
                            <option value="dotted">dotted</option>
                            <option value="solid">solid</option>
                            <option value="double">double</option>
                            <option value="dashed">dashed</option>
                            <option value="wavy">wavy</option>
                            <option value="initial">initial</option>
                            <option value="inherit">inherit</option>
                        </select>
                        <div>
                            <input type="number" class="field__input LR_input_in_configurator"
                                style="width:100% !important;" #borderBottomSize placeholder="size">
                        </div>
                        <div>
                            <input type="color" style="width:100% !important;" #borderBottomColor
                                (input)="changeStyles('border-bottom',borderBottomSize.value+'px '+borderBottomStyle.value+' '+borderBottomColor.value)">
                        </div>
                    </div>

                </div>
                <div class="field LR_from_field" >
                    <h4 class="field__label ">
                        border
                        Left
                    </h4>

                    <div class="field__wrap ">
                        <div>
                            <select type="text" class="field__input LR_input_in_configurator"
                                style="width:100% !important; color: gray;" #borderLeftStyle>

                                <option style="display: none;color: gray;">style</option>
                                <option value="dotted" style="color: gray;">dotted</option>
                                <option value="solid" style="color: gray;">solid</option>
                                <option value="double" style="color: gray;">double</option>
                                <option value="dashed" style="color: gray;">dashed</option>
                                <option value="wavy" style="color: gray;">wavy</option>
                                <option value="initial" style="color: gray;">initial</option>
                                <option value="inherit" style="color: gray;">inherit</option>

                            </select>
                        </div>

                    </div>
                    <div class="field LR_from_field" >
                        <h4 class="field__label ">
                            border
                            Left
                        </h4>

                        <div class="field__wrap ">
                            <div>
                                <select type="text" class="field__input LR_input_in_configurator" #borderLeftStyle>

                                    <option style="display: none;">style</option>
                                    <option value="dotted">dotted</option>
                                    <option value="solid">solid</option>
                                    <option value="double">double</option>
                                    <option value="dashed">dashed</option>
                                    <option value="wavy">wavy</option>
                                    <option value="initial">initial</option>
                                    <option value="inherit">inherit</option>

                                </select>
                            </div>

                        </div>
                        

                    </div>
                 
                </div>
            </div> -->

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingeight">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseeight"
                    aria-expanded="true" aria-controls="collapseeight">
                    Width
                </button>
            </h2>
            <div id="collapseeight" class="accordion-collapse collapse show" aria-labelledby="headingeight"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="field LR_from_field" style="margin-top: 8px;">
                    <app-slider-with-number [img]="'assets/icons/image-gallery-solid.svg'" [minValue]="1"
                        [maxValue]="100" (changeStyles)="changeStylesG(['spanStyles','width'],$event.value)" [style]="'width'"
                        [measureUnit]="'%'" [stylesLocation]="'spanStyles'">
                    </app-slider-with-number></div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    Spacing
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <!-- Spacing-עובד! -->
                    <div class="field LR_from_field">
                        <app-box-model (changeStyles)="changeStylesG($event.keys,$event.value+'px')"></app-box-model>
                    </div>
                </div>
            </div>