i {
    margin: 8px;
}
.numberInput {
    width: 15% !important;
    color: white;
    margin-left: 0% !important;
    outline: none;
    margin-right: 8px !important;
    padding-right: 0% !important;
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}
