#options {
  background-color: #e8eaec;
  color: #384364;
  height: 100vh;
  display: inline-block;
  overflow: hidden !important;
  padding-right: 0px;
  z-index: 9;
}
#options:hover {
  overflow-y: overlay;
}

#options .material-icons-round {
  color: #636b84;
}
#options li {
  padding-top: 5px;
}
.builderPanelWidth {
  width: 12vw;
}
.paddingUnderTop {
  padding-top: 1vh;
}
#content {
  position: fixed;
}
.form-in-desktop {
  width: calc(100vw - 17vw - 36px); 
  margin-left: calc(4vw + 24px);
  position: fixed;
  left: 0px;
  top: 70px;
  height: calc(100vh - 60px);
}
.form-in-desktop2 {
  width: calc(100vw - 17vw - 36px + 13vw); 
  margin-left: calc(4vw + 24px);
  position: fixed;
  left: 0px;
  top: 70px;
  height: calc(100vh - 60px);
}
.form-in-phone {
  width: 376px;
  margin-top: 0.5rem !important;
  margin-left: 30% !important;
  border-style: solid !important;
  border-radius: 30px;
  border-color: black !important;
  border-width: 15px !important;
  border-top-width: 30px !important;
  border-bottom-width: 70px !important;
}
.form-in-tablet {
  width: 600px;
  margin-top: 0.5rem !important;
  margin-left: 20% !important;
  border-style: solid !important;
  border-radius: 30px;
  border-color: #a9a9a9 !important;
  border-width: 20px !important;
  border-top-width: 50px !important;
  border-bottom-width: 70px !important;
}
.builder{
  background:#F6F6F6 0% 0% no-repeat padding-box; border-radius: 12px;padding-top: 20px;
}
.iframe{
  width: 100%;height:90vh; min-width: 100%; box-shadow: 5px 10px 18px #888888 
}