.contact-form label {
    font-weight: 600;
  }
  .contact-form button {
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
  }
  .contact-form button:focus {
    box-shadow: none;
  }